In [17]:
import pandas as pd
import numpy as np
import geoip2.database
import matplotlib as plt

In [4]:
df = pd.read_json('../data/all_data.json', lines=True)

In [9]:
# Export source ip addresses for use in PyGeoIpMap
df['source_ip'].to_csv("out.txt", sep='\n',index=False)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [15]:
reader = geoip2.database.Reader('GeoLite2-City_20191203/GeoLite2-City.mmdb')
countries = {}
for ip in df['source_ip']:
    country = reader.city(ip).country.name
    if country in countries:
        countries[country] += 1
    else:
        countries[country] = 1

In [21]:
countries.keys()

dict_keys(['South Africa', 'Venezuela', 'Chile', 'Japan', 'Hungary', 'Belize', 'South Korea', 'Bulgaria', 'Bangladesh', 'Bahrain', 'Thailand', 'Australia', 'Ireland', 'Guadeloupe', 'Trinidad and Tobago', 'Brazil', 'India', 'Argentina', 'Republic of Lithuania', 'Uzbekistan', 'Ethiopia', 'Hong Kong', 'Colombia', 'Germany', 'France', 'Egypt', 'Mexico', 'Taiwan', 'Spain', 'Zambia', 'Honduras', 'Romania', 'Ecuador', 'Russia', 'Malaysia', 'Sweden', 'Philippines', 'Pakistan', 'Saudi Arabia', 'Singapore', 'Italy', 'Latvia', 'Indonesia', 'Kazakhstan', 'Poland', 'Vietnam', 'Gibraltar', 'Mongolia', 'Iraq', 'Uruguay', 'Turkey', 'Niger', 'China', 'Cambodia', 'Seychelles', 'Norway', 'Canada', 'Tajikistan', 'Bolivia', 'Ukraine', 'United Kingdom', 'Greece', 'Iran', 'Switzerland', 'Morocco', 'United States', 'Netherlands'])

In [112]:
# Ignore line below, was messing around with something
#snort_val = df.loc[(df['source_ip'] == '209.17.97.18') & (pd.notna(df['snort']))]['snort'][560]

df

,_id,auth_attempts,destination_ip,destination_port,honeypot,hpfeed_id,identifier,protocol,sensor,session_ssh,snort,source_ip,source_port,timestamp
0,{'$oid': '5de4488cd21d354b96153801'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de4488ad21d354b96153800'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.99.166.49,33102,{'$date': '2019-12-01T23:11:06.553Z'}
1,{'$oid': '5de448a4d21d354b96153803'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de448a2d21d354b96153802'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.99.170.172,53943,{'$date': '2019-12-01T23:11:30.354Z'}
2,{'$oid': '5de448e0d21d354b96153805'},NaN,172.31.88.57,1433,p0f,{'$oid': '5de448dfd21d354b96153804'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,200.153.11.82,64409,{'$date': '2019-12-01T23:12:31.122Z'}
3,{'$oid': '5de448f5d21d354b96153807'},NaN,172.31.88.57,8181,p0f,{'$oid': '5de448f3d21d354b96153806'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,111.227.172.86,41968,{'$date': '2019-12-01T23:12:51.042Z'}
4,{'$oid': '5de44916d21d354b96153809'},NaN,172.31.88.57,23,p0f,{'$oid': '5de44914d21d354b96153808'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,94.181.181.24,45772,{'$date': '2019-12-01T23:13:24.445Z'}
5,{'$oid': '5de44931d21d354b9615380b'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de4492fd21d354b9615380a'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.172.216.119,41960,{'$date': '2019-12-01T23:13:51.538Z'}
6,{'$oid': '5de44970d21d354b9615380d'},NaN,172.31.88.57,30303,p0f,{'$oid': '5de4496fd21d354b9615380c'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,209.17.97.106,34247,{'$date': '2019-12-01T23:14:55.189Z'}
7,{'$oid': '5de449a0d21d354b9615380f'},NaN,172.31.88.57,32084,p0f,{'$oid': '5de4499ed21d354b9615380e'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,185.143.221.186,48389,{'$date': '2019-12-01T23:15:42.002Z'}
8,{'$oid': '5de449d6d21d354b96153811'},NaN,172.31.88.57,23,p0f,{'$oid': '5de449d4d21d354b96153810'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,42.113.244.245,14402,{'$date': '2019-12-01T23:16:36.370Z'}
9,{'$oid': '5de44a81d21d354b96153813'},NaN,172.31.88.57,67,p0f,{'$oid': '5de44a80d21d354b96153812'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,209.17.96.34,63370,{'$date': '2019-12-01T23:19:28.319Z'}
10,{'$oid': '5de44aa0d21d354b96153815'},NaN,172.31.88.57,8080,p0f,{'$oid': '5de44a9ed21d354b96153814'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,185.143.221.7,54147,{'$date': '2019-12-01T23:19:58.182Z'}
11,{'$oid': '5de44aafd21d354b96153817'},NaN,172.31.88.57,23,p0f,{'$oid': '5de44aaed21d354b96153816'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,187.21.142.38,26714,{'$date': '2019-12-01T23:20:14.879Z'}
12,{'$oid': '5de44af7d21d354b96153819'},NaN,172.31.88.57,23,p0f,{'$oid': '5de44af6d21d354b96153818'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,171.5.26.86,1068,{'$date': '2019-12-01T23:21:26.797Z'}
13,{'$oid': '5de44b00d21d354b9615381b'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de44affd21d354b9615381a'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.172.216.119,59299,{'$date': '2019-12-01T23:21:35.946Z'}
14,{'$oid': '5de44b1bd21d354b9615381d'},NaN,172.31.88.57,5907,p0f,{'$oid': '5de44b19d21d354b9615381c'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,45.136.109.87,46432,{'$date': '2019-12-01T23:22:01.750Z'}
15,{'$oid': '5de44b24d21d354b9615381f'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de44b21d21d354b9615381e'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,159.203.81.129,57913,{'$date': '2019-12-01T23:22:09.458Z'}
16,{'$oid': '5de44b2dd21d354b96153821'},NaN,172.31.88.57,33778,p0f,{'$oid': '5de44b2ad21d354b96153820'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,185.176.27.18,51386,{'$date': '2019-12-01T23:22:18.490Z'}
17,{'$oid': '5de44b84d21d354b96153823'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de44b82d21d354b96153822'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.99.162.116,46866,{'$date': '2019-12-01T23:23:46.890Z'}
18,{'$oid': '5de44b9fd21d354b96153825'},NaN,172.31.88.57,48234,p0f,{'$oid': '5de44b9cd21d354b96153824'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,185.143.223.148,42202,{'$date': '2019-12-01T23:24:12.882Z'}
19,{'$oid': '5de44bc9d21d354b96153827'},NaN,172.31.88.57,8545,p0f,{'$oid': '5de44bc7d21d354b96153826'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,202.29.57.103,32767,{'$date': '2019-12-01T23:24:55.962Z'}
20,{'$oid': '5de44bf9d21d354b96153829'},NaN,172.31.88.57,3954,p0f,{'$oid': '5de44bf7d21d354b96153828'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,185.176.27.2,42533,{'$date': '2019-12-01T23:25:43.246Z'}
21,{'$oid': '5de44bffd21d354b9615382b'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de44bfed21d354b9615382a'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.99.170.76,59124,{'$date': '2019-12-01T23:25:50.598Z'}
22,{'$oid': '5de44c05d21d354b9615382d'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de44c02d21d354b9615382c'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.99.170.122,52987,{'$date': '2019-12-01T23:25:54.470Z'}
23,{'$oid': '5de44c0bd21d354b9615382f'},NaN,172.31.88.57,1133,p0f,{'$oid': '5de44c0ad21d354b9615382e'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,202.107.227.42,39987,{'$date': '2019-12-01T23:26:02.354Z'}
24,{'$oid': '5de44c1ad21d354b96153831'},NaN,172.31.88.57,8088,p0f,{'$oid': '5de44c18d21d354b96153830'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,167.99.170.172,43527,{'$date': '2019-12-01T23:26:16.738Z'}
25,{'$oid': '5de44c29d21d354b96153833'},NaN,172.31.88.57,3363,p0f,{'$oid': '5de44c28d21d354b96153832'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,45.136.109.95,59371,{'$date': '2019-12-01T23:26:32.534Z'}
26,{'$oid': '5de44c35d21d354b96153836'},NaN,172.31.88.57,5900,p0f,{'$oid': '5de44c33d21d354b96153835'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,45.141.86.126,45847,{'$date': '2019-12-01T23:26:43.701Z'}
27,{'$oid': '5de44c35d21d354b96153837'},NaN,172.31.88.57,5900,p0f,{'$oid': '5de44c33d21d354b96153834'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,45.141.86.126,45847,{'$date': '2019-12-01T23:26:43.695Z'}
28,{'$oid': '5de44c50d21d354b96153839'},NaN,172.31.88.57,443,p0f,{'$oid': '5de44c4fd21d354b96153838'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,209.17.96.90,62953,{'$date': '2019-12-01T23:27:11.354Z'}
29,{'$oid': '5de44c5cd21d354b9615383b'},NaN,172.31.88.57,7547,p0f,{'$oid': '5de44c5ad21d354b9615383a'},d046e2a8-148f-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,209.17.96.194,54781,{'$date': '2019-12-01T23:27:22.734Z'}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,{'$oid': '5de585f356ae1f07980ff89e'},NaN,172.31.88.57,7091,snort,{'$oid': '5de585f156ae1f07980ff89d'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402000:5377', 'classification':...",185.176.27.102,58415,{'$date': '2019-12-02T21:45:21.631Z'}
2622,{'$oid': '5de5861456ae1f07980ff8a0'},NaN,172.31.88.57,28017,snort,{'$oid': '5de5861356ae1f07980ff89f'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402000:5377', 'classification':...",223.71.167.62,7271,{'$date': '2019-12-02T21:45:55.631Z'}
2623,{'$oid': '5de5867a56ae1f07980ff8a2'},NaN,172.31.88.57,2377,snort,{'$oid': '5de5867a56ae1f07980ff8a1'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403330:53518', 'classification'...",36.155.102.52,43212,{'$date': '2019-12-02T21:47:38.630Z'}
2624,{'$oid': '5de586f956ae1f07980ff8a4'},NaN,172.31.88.57,7007,snort,{'$oid': '5de586f756ae1f07980ff8a3'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403442:53518', 'classification'...",81.22.45.29,49348,{'$date': '2019-12-02T21:49:43.631Z'}
2625,{'$oid': '5de5871a56ae1f07980ff8a6'},NaN,172.31.88.57,800,snort,{'$oid': '5de5871856ae1f07980ff8a5'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403472:53518', 'classification'...",92.246.76.194,57855,{'$date': '2019-12-02T21:50:16.633Z'}
2626,{'$oid': '5de5876256ae1f07980ff8a8'},NaN,172.31.88.57,5060,snort,{'$oid': '5de5876056ae1f07980ff8a7'},3d8b05f4-14ab-11ea-8925-120824e1a381,UDP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2011716:4', 'classification': 4,...",183.2.202.42,5060,{'$date': '2019-12-02T21:51:28.630Z'}
2627,{'$oid': '5de5876b56ae1f07980ff8aa'},NaN,172.31.88.57,14286,snort,{'$oid': '5de5876a56ae1f07980ff8a9'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402000:5377', 'classification':...",185.176.27.98,44630,{'$date': '2019-12-02T21:51:38.630Z'}
2628,{'$oid': '5de587a456ae1f07980ff8ac'},NaN,172.31.88.57,1434,snort,{'$oid': '5de587a356ae1f07980ff8ab'},3d8b05f4-14ab-11ea-8925-120824e1a381,UDP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402001:5377', 'classification':...",185.173.35.41,58226,{'$date': '2019-12-02T21:52:35.630Z'}
2629,{'$oid': '5de587ad56ae1f07980ff8ae'},NaN,172.31.88.57,2121,snort,{'$oid': '5de587ac56ae1f07980ff8ad'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403470:53518', 'classification'...",92.118.160.17,64122,{'$date': '2019-12-02T21:52:44.630Z'}
2630,{'$oid': '5de587cb56ae1f07980ff8b0'},NaN,NaN,22,cowrie,{'$oid': '5de587c956ae1f07980ff8af'},239f615c-14a2-11ea-8925-120824e1a381,ssh,NaN,{'version': ''SSH-2.0-libssh-0.1''},NaN,104.244.72.98,45452,{'$date': '2019-12-02T21:53:13.041Z'}
2631,{'$oid': '5de5882856ae1f07980ff8b2'},NaN,172.31.88.57,3909,snort,{'$oid': '5de5882656ae1f07980ff8b1'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403464:53518', 'classification'...",89.248.168.202,49034,{'$date': '2019-12-02T21:54:46.630Z'}
2632,{'$oid': '5de5886756ae1f07980ff8b4'},NaN,172.31.88.57,135,snort,{'$oid': '5de5886656ae1f07980ff8b3'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403454:53518', 'classification'...",85.93.20.134,58749,{'$date': '2019-12-02T21:55:50.630Z'}
2633,{'$oid': '5de588c456ae1f07980ff8b6'},NaN,172.31.88.57,52025,snort,{'$oid': '5de588c156ae1f07980ff8b5'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402000:5377', 'classification':...",185.143.223.147,43321,{'$date': '2019-12-02T21:57:21.631Z'}
2634,{'$oid': '5de5893056ae1f07980ff8b8'},NaN,172.31.88.57,502,snort,{'$oid': '5de5892e56ae1f07980ff8b7'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403422:53518', 'classification'...",71.6.146.185,6707,{'$date': '2019-12-02T21:59:10.630Z'}
2635,{'$oid': '5de5895156ae1f07980ff8ba'},NaN,172.31.88.57,715,snort,{'$oid': '5de5895156ae1f07980ff8b9'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402000:5377', 'classification':...",185.143.223.148,53421,{'$date': '2019-12-02T21:59:45.382Z'}
2636,{'$oid': '5de5897e56ae1f07980ff8bc'},NaN,NaN,3000,dionaea,{'$oid': '5de5897d56ae1f07980ff8bb'},9b409fa0-148e-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,128.62.29.138,30152,{'$date': '2019-12-02T22:00:29.254Z'}
2637,{'$oid': '5de58a1e56ae1f07980ff8be'},NaN,NaN,3000,dionaea,{'$oid': '5de58a1c56ae1f07980ff8bd'},9b409fa0-148e-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,205.251.150.154,34624,{'$date': '2019-12-02T22:03:08.017Z'}
2638,{'$oid': '5de58a5756ae1f07980ff8c0'},NaN,NaN,3000,dionaea,{'$oid': '5de58a5656ae1f07980ff8bf'},9b409fa0-148e-11ea-8925-120824e1a381,pcap,NaN,NaN,NaN,205.251.150.154,34634,{'$date': '2019-12-02T22:04:06.465Z'}
2639,{'$oid': '5de58a6656ae1f07980ff8c2'},NaN,172.31.88.57,1433,snort,{'$oid': '5de58a6556ae1f07980ff8c1'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2010935:3', 'classification': 3,...",36.90.157.27,60763,{'$date': '2019-12-02T22:04:21.739Z'}
2640,{'$oid': '5de58ac956ae1f07980ff8c4'},NaN,172.31.88.57,49463,snort,{'$oid': '5de58ac656ae1f07980ff8c3'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403360:53518', 'classification'...",45.82.153.35,45925,{'$date': '2019-12-02T22:05:58.739Z'}
2641,{'$oid': '5de58ae456ae1f07980ff8c6'},NaN,172.31.88.57,3408,snort,{'$oid': '5de58ae156ae1f07980ff8c5'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403472:53518', 'classification'...",92.118.37.86,52895,{'$date': '2019-12-02T22:06:25.739Z'}
2642,{'$oid': '5de58b1d56ae1f07980ff8c8'},NaN,172.31.88.57,3999,snort,{'$oid': '5de58b1b56ae1f07980ff8c7'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403472:53518', 'classification'...",92.118.37.83,40361,{'$date': '2019-12-02T22:07:23.739Z'}
2643,{'$oid': '5de58b2f56ae1f07980ff8ca'},NaN,172.31.88.57,33869,snort,{'$oid': '5de58b2c56ae1f07980ff8c9'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402000:5377', 'classification':...",185.176.27.246,42693,{'$date': '2019-12-02T22:07:40.738Z'}
2644,{'$oid': '5de58bc856ae1f07980ff8cc'},NaN,172.31.88.57,52000,snort,{'$oid': '5de58bc756ae1f07980ff8cb'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2402000:5377', 'classification':...",193.32.161.12,41766,{'$date': '2019-12-02T22:10:15.739Z'}
2645,{'$oid': '5de58be056ae1f07980ff8ce'},NaN,172.31.88.57,1445,snort,{'$oid': '5de58bde56ae1f07980ff8cd'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403438:53518', 'classification'...",80.82.64.73,45445,{'$date': '2019-12-02T22:10:38.739Z'}
2646,{'$oid': '5de58ca656ae1f07980ff8d0'},NaN,172.31.88.57,5918,snort,{'$oid': '5de58ca656ae1f07980ff8cf'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403352:53518', 'classification'...",45.136.109.87,40465,{'$date': '2019-12-02T22:13:58.739Z'}
2647,{'$oid': '5de58cbc56ae1f07980ff8d2'},NaN,172.31.88.57,3378,snort,{'$oid': '5de58cb956ae1f07980ff8d1'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403352:53518', 'classification'...",45.136.109.95,55186,{'$date': '2019-12-02T22:14:17.741Z'}
2648,{'$oid': '5de58ce656ae1f07980ff8d4'},NaN,172.31.88.57,3882,snort,{'$oid': '5de58ce556ae1f07980ff8d3'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403478:53518', 'classification'...",94.102.56.181,49069,{'$date': '2019-12-02T22:15:01.739Z'}
2649,{'$oid': '5de58cf256ae1f07980ff8d6'},NaN,172.31.88.57,1433,snort,{'$oid': '5de58cf056ae1f07980ff8d5'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2010935:3', 'classification': 3,...",103.21.149.92,45173,{'$date': '2019-12-02T22:15:12.747Z'}
2650,{'$oid': '5de58d6456ae1f07980ff8d8'},NaN,172.31.88.57,8545,snort,{'$oid': '5de58d6356ae1f07980ff8d7'},3d8b05f4-14ab-11ea-8925-120824e1a381,TCP,3d8b05f4-14ab-11ea-8925-120824e1a381,NaN,"{'header': '1:2403376:53518', 'classification'...",51.161.12.231,32767,{'$date': '2019-12-02T22:17:07.739Z'}

In [21]:
df.shape

(2651, 14)

In [89]:
# Drop non snort datapoints
base_snort = df.dropna(subset=['snort'])
snort_source_ip = base_snort['source_ip'].tolist()
snort = base_snort['snort']

print('snort has {} detections'.format(snort.shape[0]))
snort = pd.io.json.json_normalize(snort)
# snort.sort_values(by='priority', ascending=True)
test = [i for i in range(509)]
snort['source_ip'] = snort_source_ip
snort

# Drop non snort datapoints
#snort = df.dropna(subset=['snort'])
#snort = snort['snort']
# Uncomment line below to reset indices
# snort = snort.reset_index(drop=True)
#print('snort has {} detections'.format(snort.shape[0]))
#snort = pd.io.json.json_normalize(snort)
#snort.sort_values(by='priority', ascending=True)

snort has 509 detections

,classification,header,priority,signature,source_ip
0,3,1:2010936:3,2,ET SCAN Suspicious inbound to Oracle SQL port ...,209.17.97.18
1,30,1:2403478:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,94.102.49.65
2,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.175.93.78
3,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.176.27.246
4,30,1:2403468:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,91.173.121.137
5,3,1:2010935:3,2,ET SCAN Suspicious inbound to MSSQL port 1433,82.200.247.230
6,30,1:2403444:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,82.200.247.230
7,30,1:2403340:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,40.121.109.186
8,30,1:2500020:5265,2,ET COMPROMISED Known Compromised or Hostile Ho...,40.121.109.186
9,30,1:2403438:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,80.82.70.239
10,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.143.223.148
11,30,1:2403478:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,94.102.56.181
12,3,1:2010935:3,2,ET SCAN Suspicious inbound to MSSQL port 1433,1.32.255.195
13,30,1:2403302:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,1.32.255.195
14,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,80.82.77.139
15,30,1:2403438:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,80.82.77.139
16,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,81.22.45.150
17,30,1:2403468:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,91.227.23.74
18,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.176.27.98
19,30,1:2403438:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,80.82.65.74
20,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.209.0.89
21,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.209.0.92
22,3,1:2010935:3,2,ET SCAN Suspicious inbound to MSSQL port 1433,116.54.240.6
23,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,83.97.20.207
24,30,1:2403448:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,83.97.20.207
25,3,1:2010935:3,2,ET SCAN Suspicious inbound to MSSQL port 1433,20.20.100.247
26,30,1:2403352:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,45.136.109.87
27,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.176.27.2
28,30,1:2403380:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,51.91.212.81
29,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,198.108.67.35
...,...,...,...,...,...
479,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,159.203.201.56
480,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.176.27.194
481,30,1:2403442:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,81.22.45.133
482,30,1:2403438:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,80.82.70.239
483,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.176.27.102
484,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,223.71.167.62
485,30,1:2403330:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,36.155.102.52
486,30,1:2403442:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,81.22.45.29
487,30,1:2403472:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,92.246.76.194
488,4,1:2011716:4,2,ET SCAN Sipvicious User-Agent Detected (friend...,183.2.202.42
489,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.176.27.98
490,30,1:2402001:5377,2,ET DROP Dshield Block Listed Source group 1,185.173.35.41
491,30,1:2403470:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,92.118.160.17
492,30,1:2403464:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,89.248.168.202
493,30,1:2403454:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,85.93.20.134
494,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.143.223.147
495,30,1:2403422:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,71.6.146.185
496,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.143.223.148
497,3,1:2010935:3,2,ET SCAN Suspicious inbound to MSSQL port 1433,36.90.157.27
498,30,1:2403360:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,45.82.153.35
499,30,1:2403472:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,92.118.37.86
500,30,1:2403472:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,92.118.37.83
501,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,185.176.27.246
502,30,1:2402000:5377,2,ET DROP Dshield Block Listed Source group 1,193.32.161.12
503,30,1:2403438:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,80.82.64.73
504,30,1:2403352:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,45.136.109.87
505,30,1:2403352:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,45.136.109.95
506,30,1:2403478:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,94.102.56.181
507,3,1:2010935:3,2,ET SCAN Suspicious inbound to MSSQL port 1433,103.21.149.92
508,30,1:2403376:53518,2,ET CINS Active Threat Intelligence Poor Reputa...,51.161.12.231

In [47]:
ssh = df.dropna(subset=['session_ssh'])
ssh = ssh['session_ssh']
ssh = pd.io.json.json_normalize(ssh)
ssh

                                      version
0           'SSH-2.0-OpenSSH_7.9p1 Ubuntu-10'
1   'SSH-2.0-OpenSSH_6.7p1 Raspbian-5+deb8u4'
2   'SSH-2.0-OpenSSH_6.7p1 Raspbian-5+deb8u4'
3                                        None
4   'SSH-2.0-OpenSSH_6.7p1 Raspbian-5+deb8u5'
5   'SSH-2.0-OpenSSH_6.7p1 Raspbian-5+deb8u5'
6                        'SSH-2.0-libssh-0.1'
7                        'SSH-2.0-libssh-0.1'
8                        'SSH-2.0-libssh-0.1'
9                                          ''
10                                       None
11                                       None
12                                       None
13                               'SSH-2.0-Go'
14                            'SSH-2.0-PUTTY'
15                            'SSH-2.0-PUTTY'
16                            'SSH-2.0-PUTTY'
17                            'SSH-2.0-PUTTY'
18                       'SSH-2.0-libssh-0.1'